body {
  padding: 0;
  margin: 0;
}

#mainMap {
  height: 100vh;
  width: 100vw;
}
/*--------------SEARCH STYLES------------------*/
.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-geocoder {
	box-shadow: 0 1px 7px #999;
	background: #f8f8f9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.leaflet-control-geocoder a {
	background-image: url(images/geocoder.png);
	width: 36px;
	height: 36px;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: block;
	position: relative;
}



.leaflet-control-geocoder-form {
  top: 0%;
  left: 5%;
  background-color: #2d2d2d;
}

.leaflet-control-geocoder-expanded {
  background-color: #2d2d2d;
  border-radius: 0;
}

.leaflet-control-zoom {
  position: absolute;
  left: 360%;
  z-index: 99999;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: white !important;
  background-color: #2d2d2d !important;
}

input {
  padding: 10px 120px 10px 10px;
  background-color: #2d2d2d;
  border: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input[type="submit"] {
  background-color: #2d2d2d;
  text-align: center !important;
  color: white;
  padding-left: 30px;
  margin-right: -80px;
  margin-left: 30px;
  border: none;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
