body {
  padding: 0;
  margin: 0;
}

.img-fluid {
  max-width: 100%;
  display: block;
  height: auto;
}

#mainMap {
  height: 100vh;
  width: 100vw;
}
/*--------------SEARCH STYLES------------------*/
.leaflet-control-geocoder a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-geocoder {
	box-shadow: 0 1px 7px #999;
	background: #f8f8f9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.leaflet-control-geocoder a {
	background-image: url(images/geocoder.png);
	width: 36px;
	height: 36px;
}

.leaflet-touch .leaflet-control-geocoder a {
	width: 44px;
	height: 44px;
}

.leaflet-control-geocoder .leaflet-control-geocoder-form,
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-toggle {
	display: none;
}

.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
	display: block;
	position: relative;
}

.leaflet-control-geocoder-form {
  top: 0%;
  left: 5%;
  background-color: #2d2d2d;
}

.leaflet-control-geocoder-expanded {
  background-color: #2d2d2d;
  border-radius: 0;
}

.leaflet-control-zoom {
  position: absolute;
  left: 360%;
  z-index: 99999;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  color: white !important;
  background-color: #2d2d2d !important;
}

input {
  padding: 10px 120px 10px 10px;
  background-color: #2d2d2d;
  border: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

input[type="submit"] {
  background-color: #2d2d2d;
  text-align: center !important;
  color: white;
  padding-left: 30px;
  margin-right: -80px;
  margin-left: 30px;
  border: none;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/*------SIDE PANEL-------*/
#sidePanel {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  width: 0;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 3%;
  color: white;
  z-index: 99;
  text-decoration: none;
  font-size: 25px;
  display: none;
}

#placeName {
  color: white;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 3%;
  font-family: 'Playfair Display', serif;
}

#layerName {
  position: absolute;
  bottom: 10%;
  left: 3%;
  color: white;
  font-family: 'Lato';
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
}

#image__holder {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 40%;
  position: relative;
}

#description__holder {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.04rem;
  font-weight: 100;
  width: 90%;
  margin: 20px auto;
}

#link__holder {
  color: white;
  background-color: black;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px;
  font-weight: 100;
}
